body{
  background: #303030;
  color:blanchedalmond;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  padding: 0px;
  margin:0px;
  justify-content:center;
  place-items: center;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
}

/*#big_cont{
  margin:auto;
  width:100%;
  height:100%;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  border:5px solid #C0C0C0 ;
  border-radius:5px;
  position: relative;
}*/
.font {
  font-family: 'Helvetica';
  font-weight: bold;
  color:#474747;
  width:fit-content;
  padding-left: 4px;
  padding-right:4px;
  padding-top:4px;
  border-radius:5px;
  box-shadow: 0px 1px 10px 1px black;
  background-color: #ebebeb;
  margin: auto;
}
.string{
	height: 100px;
	width: 100px;
  margin-left:760px;
  margin-top:30px;
  position:absolute;
	background: transparent;
	border: 6px solid #935936;
	border-radius: 10px;
  transform: rotate(45deg);
  box-shadow: 0px 1px 3px 1px black;
}

.point{
  position:absolute;
  height:15px;
  width:15px;
  margin-left:809px;
  margin-top:16px;
  background-color:grey;
  border-radius:50%;
  box-shadow: 0px 1px 3px 1px black;
}

h1{
  margin-left:220px;
  font-size:30px;
  color: white;
  text-shadow: 5px 5px black;
  font-family: 'Bookman Old Style';
}
 
#canvas_cont{
  margin-top:0px;
  display:inline-block;
  position:relative;
  margin-left:200px;
}
#buttons_cont{
  position:absolute;
  margin-left:100px;
  margin-top:70px;
  margin-right:10px;
}

#sound_button{
  display:table;
  height:15px;
  position:relative;
  margin-left:-37%;
  top:50px;
  color: white;
  border-radius:5px;
  cursor: pointer;
  padding: 5px;
}

#show_note{
  display:table;
  position:relative;
  margin-left:-32%;
  top:80px;
  height:50px;
  width:50px;
  background-color:white;
  color:black;
  font-size:30px;
  font-family: 'Helvetica';
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;    
}

p2{
  position:absolute;
  margin-left:50px;
  top:300px;
  color: white;
  font-size:15px;
  font-family: 'Helvetica';

}

#can {
  display:inline-block;
  width:350px;
  height:200px;
  border: 5px solid white;
  position:relative;
  border-radius:5px;
  background-image: url(../imgs/blackboard.jpg);
  -webkit-background-image: url(../imgs/blackboard.jpg);
  cursor: url(../imgs/cursor.cur) 0 0, default;
  box-shadow: 0px 1px 10px 1px black;
}

#Write_cont{
  position:relative;
  margin-left:-30%;
  margin-top:10px;
  width:100%;
  padding-left:40%;
  height:180px;
  border-radius:20px;
  background-image:url(../imgs/wood_texture.png);
  -webkit-background-image:url(../imgs/wood_texture.png);
  padding-bottom:10px;
  border:1px solid black;
  box-shadow: 0px 1px 10px 1px black;
}
 
#spec_can {
  display:inline-block;
  width: 100%;
  margin-left:-10%;
  height:150px;
  position:relative;
  background: linear-gradient(to bottom, rgb(0, 0, 0) -12%, rgb(67, 67, 67) 50%, rgb(0, 0, 0) 120%);
  /*border: 1px solid white;*/
  border-radius:25px;
  cursor: default;
  margin-top:-15%;
 /*box-shadow: 0px 1px 5px 1px white;*/

  /*position:absolute;*/

}

.leg1 {
  position:absolute;
   width: 0px;
   height: 0px;
   margin-top: 0px;
   margin-left: -22%;
   border-left: 10px solid grey;
   border-right: 20px solid transparent;
   border-top: 50px solid grey;
 }

.leg2 {
   position: absolute;
   width: 0;
   height: 0;
   border-left: 20px solid transparent;
   border-right: 10px solid grey;
   border-top: 50px solid grey;
   margin-top: 0px;
   margin-left: 95%;
}


p{
  font-size:15px;
  font-family: 'Helvetica';
  color:white;
}

p1{
  font-size:18px;
  text-align:center;
}



span{
  font-size:15px;
  font-family: 'Helvetica';
}

.similcanvas {
  width:300px;
  height:150px;
  background-color:blanchedalmond;
  /*position:absolute;*/
  border: 2px solid;
  cursor: default;
}


#animate{
  display:table;
  position:relative;
  height:20px;
  background-color:#434a93;
  color: white;
  padding:5px;
  border-radius:5px;
  cursor: pointer;
  box-shadow: 0px 1px 10px 1px black;
  /*margin: 0 auto;*/
}
#reset{
  margin: 0 auto;
  text-align: center;
  position:relative;
  margin-top:30px;
  height:20px;
  background-color:#434a93;
  color: white;
  padding:5px;
  border-radius:5px;
  cursor: pointer;
  box-shadow: 0px 1px 10px 1px black;
}

 .sliderscontainer {
   width: 260px;
   position:absolute;
   padding:20px;
   margin-left:100px;
   display:inline-block;
   background: linear-gradient(#2772bf,#373b44);
   border:3px solid black;
   border-radius:25px;
   /*margin: 0 auto;*/
 }
 
 .slider{
   -webkit-appearance: none;
   width: 100%;
   height: 10px;
   border-radius: 5px;
   background: #ffffff;
   outline: none;
   opacity: 0.7;
   -webkit-transition: .2s;
   transition: opacity .2s;
   position:relative;
   box-shadow: 0px 1px 10px 1px black;
 }
 
 .single_slider{
   width: 100%;
   margin-top:12px;
   display:table;
 }
 
 
 
 .slider:hover {
   opacity: 1;
 }
 
 .slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 13px;
   height: 13px;
   border-radius: 50%;
   background: #5e69e8;
   cursor: pointer;
 }
 
 slider::-moz-range-thumb {
   width: 10px;
   height: 10px;
   background: #4CAF50;
   cursor: pointer;
 }
 
 .sound_on{
  font-size:15px;
   font-family: 'Helvetica';
   background-color:green;
 }
 
 .sound_off{
   font-size:15px;
   font-family: 'Helvetica';
   background-color:red;
 
 }